# Cache, session files and logs (Symfony3)
/var/**

# Managed by Composer
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# PHPUnit
.phpunit.result.cache

# Build data
/build/

# Composer PHAR
/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid

.idea/**
.env
composer.lock