{% extends "base.html.twig" %}

{% block toto %}Hello{% endblock %}

{% block content %}
    {% if visu == false %}
            <span>Liste des questionnaires #3</span><br>
            {% for toto in result %}
                <a href="/?id={{ toto.getIdQuestionnaire }}" >{{ toto.getLibelleQuestionnaire }}</a></br>
            {% endfor %}
        {% else %}
            Affichage de l'objet :<br>
            {{ result.getLibelleQuestionnaire }}<br>
            <a href="/">Retour</a>
    {% endif %}
{% endblock %}

