{% extends "base.html.twig" %}

{% block toto %}Resultat{% endblock %}

{% block content %}
    Affichage #3 de l'objet :<br>
    {{ result.getLibelleQuestionnaire }}<br>
    <a href="/">Retour</a>
{% endblock %}