{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Liste des questionnaires</h1>
    {% for questionnaire in questionnaires %}
        <a href="/detail/{{ questionnaire.getIdQuestionnaire }}">{{ questionnaire.getLibelleQuestionnaire }}</a><br>
    {% endfor %}
{% endblock %}

