{% extends "base.html.twig" %}

{% block title %}{{ questionnaire.getLibelleQuestionnaire }}{% endblock %}

{% block content %}
    <h1>Questionnaire : {{ questionnaire.getLibelleQuestionnaire }}</h1>
    {{ questionnaire.getLibelleQuestionnaire }} ({{ questionnaire.getIdQuestionnaire }})<br>
    <a href="/lister">Retour</a>
{% endblock %}

